@import "tailwindcss";

@theme {
	/* Colors */
	--color-gray-50: #F9FAFB;
	--color-gray-100: #F3F4F6;
	--color-gray-200: #E5E7EB;
	--color-gray-300: #D1D5DB;
	--color-gray-400: #9CA3AF;
	--color-gray-500: #6B7280;
	--color-gray-600: #4B5563;
	--color-gray-700: #374151;
	--color-gray-800: #1F2937;
	--color-gray-900: #111827;
	--color-gray-950: #030712;

	--color-blue-500: #007AFF;
	--color-blue-600: #0062cc;
    --color-yellow-400: #FFD60A;
    --color-red-500: #FF3B30;

	--font-sans: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    --animate-scroll-left: scroll-left 40s linear infinite;
    --animate-scroll-right: scroll-right 40s linear infinite;

    @keyframes scroll-left {
        0% { transform: translateX(0); }
        100% { transform: translateX(-50%); }
    }
    @keyframes scroll-right {
        0% { transform: translateX(-50%); }
        100% { transform: translateX(0); }
    }
}

@layer base {
    body {
        font-family: var(--font-sans);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
